body {
	padding-top:50px;
	padding-bottom: 40px;
	margin-left:200px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}
 

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 979px) {
	.navbar-fixed-top { position:fixed; }
}
#menu-htmleditor { float : right;}

.edit .htmlpage { margin-left:0px; margin-top:10px; padding:30px 15px 15px; 
	/*border: 1px solid #DDDDDD; */
	border-radius: 4px; position:relative; word-wrap: break-word;}
/*.edit .htmlpage:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}*/
.container { width:auto; margin:0 0px;}
.sidebar-nav {
	position:fixed;
	width:190px;
	left:0px;
	bottom:0;
	top:50px;
	background:#DDDDDD;
	padding: 10px; z-index:10;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.sidebar-nav .nav-header { cursor:pointer; font-size:14px; color:#579; text-transform:uppercase; font-weight:bold;}
.sidebar-nav .nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px; }
.sidebar-nav .nav-header { color:#000; text-shadow:0 1px 0 #ddd;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:18px; margin-bottom:3px; }
.sidebar-nav li .lyrow { margin-bottom:5px;}
.sidebar-nav .box { /*line-height:26px; width:160px; height:26px;*/ display: inline-block; width: 50px; background: #fff;padding:3px; text-align: center; border : 1px solid #bbb; border-radius: 4px; margin-top: 2px; }
.sidebar-nav .preview .element-desc { margin: 0px; padding: 1px; text-align: center; line-height: 8px;font-size: 9px; cursor: move  }

.sidebar-nav .preview { display: block; color:#666; font-size:13px; line-height:30px;}
.sidebar-nav .preview input { width:130px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .clone {display: none;}
.sidebar-nav .configuration { display: none; }
.sidebar-nav .box .drag {display: none;}


.htmlpage .preview { display: none; }
.htmlpage .box .view { display: block; padding-top:0px; overflow: hidden;}

.video-holder{
	display: block;
    width: 300px;
    height: 150px;
    background: #C7C7C7;
    position: relative;
}

.video-holder i {
	position: absolute;
	top: 42%;
	left: 43%;
}


.ui-draggable-dragging .view { display:block;}
/*.htmlpage .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder { outline: 1px dashed #578 ;visibility: visible!Important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }
.edit .clone { position: absolute; top: 0;right: 0; cursor: pointer; } 

.box,.lyrow { position:relative;}

.edit .htmlpage .lyrow .clone { top:5px; right:56px; z-index:10; }
.edit .htmlpage .lyrow .drag { top:5px; right:28px; z-index:10; }
.edit .htmlpage .column .box .drag { top:5px; }
.edit .htmlpage .column .box .configuration {position: absolute; top: 5px; line-height: 8px; right: 56px;white-space:nowrap; }
.edit .htmlpage .column .box .configuration:hover { z-index:1001;}

.edit .htmlpage .column .navbar-fixed-top {top: 33px; left: 180px;}
.htmlpage .column .navbar-fixed-top {top: 33px;}
.edit .htmlpage .column .navbar-fixed-bottom { left: 180px;}

.edit .htmlpage .remove { position: absolute; top: 5px; right: 5px; z-index:10; }
.htmlpage .configuration {
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.htmlpage .drag, .htmlpage .remove, .htmlpage .clone {
	filter: alpha(opacity=20); opacity: 0.2;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.htmlpage .box:hover { border : 2px dashed #89BDFF}
.htmlpage .active { border : 2px dashed #89BDFF } 
.htmlpage .lyrow:hover > .drag, 
.htmlpage .lyrow:hover > .clone, 
.htmlpage .lyrow:hover > .configuration, 
.htmlpage .lyrow:hover > .remove,
.htmlpage .box:hover .drag, 
.htmlpage .box:hover .configuration, 
.htmlpage .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }
/*.edit .htmlpage .row:before {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Row";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	line-height:2;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}*/
.htmlpage .row {
	///background-color: #F5F5F5;
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
	box-sizing: border-box;
//	-webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
//	-moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
//	box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
	border: 1px solid #DDDDDD;
	//border-radius: 4px 4px 4px 4px;
	//margin: 15px 0;
	position: relative;
	//padding: 25px  14px 0;
}
.edit .column:after {
	///background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Column";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}
.column {
	///background-color: #FFFFFF;
	border: 1px dashed #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	//margin: 15px 0;
	padding: 39px 19px 24px;
	position: relative;
}

/* preview */
body.mobile { max-width: 380px; border-right: 2px dashed gray; }
body.tablet { max-width: 980px; border-right: 2px dashed gray; }

body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav { 
	left:-200px;
	-webkit-transition: all 0ms ease;
	-moz-transition: all 0ms ease;
	-ms-transition: all 0ms ease;
	-o-transition: all 0ms ease;
	transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove, .devpreview .clone { display:none !Important; }
.sourcepreview .column, .sourcepreview .row, .sourcepreview .htmlpage .box {
	margin:0px 0;
	padding:0px;
	background:none;
	border:none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .htmlpage .box, .devpreview .htmlpage .row { padding-top:0; background:none; }
.devpreview .htmlpage .column { padding-top:19px; padding-bottom:19px; }





#download-layout { display: none }
#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }
a.language-selected { font-style: italic; font-weight: bold; }


#src { width: 100%; border: 0px; }
 
  