.well {
    min-height: 20px !important;
    padding: 19px !important;
    margin-bottom: 20px !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}
.smart-form {
    margin: 0 !important;
    outline: 0 !important;
    color: #666 !important;
    position: relative !important;
}
.smart-form fieldset {
    display: block !important;
    padding: 25px 14px 5px !important;
    border: none !important;
    background: rgba(255,255,255,.9) !important;
    position: relative !important;
}
.no-padding{
    padding:0 !important;
}
.client-form header {
    padding: 15px 13px !important;
    margin: 0 !important;
    border-bottom-style: solid !important;
    border-bottom-color: rgba(0,0,0,.1) !important;
    background: rgba(248,248,248,.9) !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #232323 !important;
}
.smart-form fieldset {
    display: block !important;
    padding: 25px 14px 5px !important;
    border: none !important;
    background: rgba(255,255,255,.9) !important;
    position: relative !important;
}
.smart-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px !important;
    color: #333;
    text-align: left;
    white-space: normal;
}
.smart-form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
    position: relative;
    display: block;
    font-weight: 400;
}
.smart-form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}
.smart-form .input .icon-append+input, .smart-form .textarea .icon-append+textarea {
    padding-right: 37px;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    display: block !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    width: 100% !important;
    height: 32px !important;
    line-height: 32px !important;
    padding: 5px 10px !important;
    outline: 0 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 0 !important;
    background: #fff !important;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif  !important;
    color: #404040 !important;
}
.smart-form .icon-append, .smart-form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.note, .smart-form .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}
.zen-form footer {
    background: #fff;
    border-top: 0;
    display: block !important;
    padding: 7px 14px 15px;
}
.smart-form footer .btn {
    margin: 10px 0 0 5px;
    font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif !important;
    cursor: pointer;
}
.zen-signup-button:hover {
    background-color: #ea7619;
}
input,select{
    border-color: #BDBDBD !important;
}





.smart-form .checkbox, .smart-form .radio {
    padding-left: 25px !important;
    line-height: 25px !important;
    color: #404040 !important;
    cursor: pointer !important;
    font-size: 13px !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 0;
}
.message {display:none;}