html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

body {font-family: 'Raleway', sans-serif;font-size:20px;color:#252525;font-weight:400;}
h1,h2,h3,h4,h5,h6 {margin:20px 0;line-height:1.50em;font-weight:700;}
h1 {font-size:54px;}
h2 {font-size:36px;}
h3 {font-size:24px;}
h4 {font-size:22px;}
h5 {font-size:18px;}
h5 {font-size:16px;}

p {margin:20px 0;line-height:1.25em;}
b,strong {font-weight:700;}
a {color:#003471;}
i,em {font-style:italic;}
label{display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;font-size:14px;}
#contact-return>p{font-size:14px;margin:0;padding:15px;}
/*.form-group>input,.form-group>textarea{border-radius: 4px;}*/
.alignleft {margin-right:20px;}
.alignright {margin-left:20px;}
.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.clear {clear:both;}
.text-white {color:#fff !important;}
.btn {font-weight:700;}
 
#header-signup {
	padding:20px 0;
	width:100%;
	height: auto !important;
	position:fixed;
	top:0;
	background:#F2611F;
	z-index: 9;
	color: #fff;
}

#header-signup a {
	color: #fff;
}

#banner {padding-top:118px;padding-bottom:340px;background:url({{asset('/img/banner-bg.jpg')}}) no-repeat   center center;background-size:cover;-moz-background-size:cover;-ms-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;}
#banner .btn-info {background:none !important;border:2px solid #fff;font-size:36px;padding:20px 28px;border-radius:46px;-moz-border-radius:46px;-ms-border-radius:46px;-o-border-radius:46px;-webkit-border-radius:46px;}

#menu {text-align:right;}
#menu ul li a {color:#fff;font-size:18px;font-weight:700;display:inline-block;}
#menu ul li a.border-rounded {border:1px solid #fff;border-radius:20px;padding:10px 12px;}

#main-content {padding:80px 0;}
#footer {background:#3c3c3c;color:#959595;}
 
/*@media (min-width: 1200px) {
	.container {width:1000px;padding-left:0;padding-right:0;}
}*/

.centered {
    float: none !important;
    display: block;
    margin: 0 auto;
}

.form-row {
	margin-top: 125px;
}

.zen-form footer {
	background: #fff;
	border-top: 0;
}

.zen-signup-button {
    display: block;
    width: 100%;
    padding: 6px !important;
    height: auto !important;
    border-radius: 9px;
    background-color: #F2611F;
    border: 0;
    text-transform: capitalize;
}

.zen-signup-button:hover {
	background-color: #ea7619;
}

#menu ul li {
	display: inline-block;
}

/*
#footer {
    padding: 80px 0;
    border-top: 12px solid #ff8521;
    background: #3c3c3c;
    color: #fff;
}

#footer ul {
	list-style-type: none;
	margin-right: 0;
}

#footer ul li {
	list-style-type: none;
    margin-bottom: 16px;
}

#footer ul li a {
    color: #fff;
    font-size: 18px;
}
*/