/*================CSS Reset==========*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/*===================================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {font-family: 'Open Sans', sans-serif;font-size:18px;color:#000;font-weight:400;background:#fff;}
h1,h2,h3,h4,h5,h6 {margin:15px 0;line-height:1.25em;}
h1 {font-size:42px;}
h2 {font-size:36px;}
h3 {font-size:20px;}
h4 {font-size:22px;}
h5 {font-size:18px;}
h5 {font-size:16px;}

p {margin:15px 0;line-height:1.25em;}
b,strong {font-weight:700;}
a {color:#525252;}
i,em {font-style:italic;}
.alignleft {float:left;margin-right:20px;}
.alignright {float:right;margin-left:20px;}
.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.clear {clear:both;}

.text-white {color:#fff !important;}

hr {height:1px;border:0;background:#898989;}
body .btn-default {color:#fff;border:0;background: -moz-linear-gradient(top, #F2611F, #F2611F);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2611F), to(#F2611F));background: -webkit-linear-gradient(top, #F2611F, #F2611F);background: -ms-linear-gradient(top, #F2611F, #F2611F); background: -o-linear-gradient(top, #F2611F, #F2611F);}
body .btn-lg {padding-left:50px;padding-right:50px;font-size:36px;font-weight:700;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;}

#header {width:100%;max-height:90px;background:#fff;position:fixed;top:0;z-index:20;padding-top:15px;padding-bottom:15px;}
.floating-header {display:none;}

#header-transparent {width:100%;max-height:90px;z-index:20;padding-top:15px;padding-bottom:15px;}
#header-transparent #menu ul li a {color:#fff;}

#menu ul {text-align:right;}
#menu ul li {display:inline-block;margin-left:30px;}
#menu ul li a {display:block;text-decoration:none;color:#000;padding:24px 0;}
#menu ul li a:hover {color:#F2611F;}


.mobile-menu-trigger { width: 40px;height: 40px;padding: 25px 0;display: block;background: url(..img/mobile-toggle-icon.png) center center no-repeat;cursor: pointer; }
.mm-menu > .mm-panel { padding: 0 !important; }
#mobile-menu ul { padding: 0;margin: 0; }
#mobile-menu ul > li a:hover,
#mobile-menu ul > li.mm-selected a { background: rgba(255, 255, 255, 0.6);color: #eb1f1c; }
#mobile-menu ul > li:after { margin: 0; }



#main-content {padding:60px 0 0 0;}
#content .service-tab  {margin-bottom:50px;padding:40px 36px;border:1px solid #ff8521;border-radius:26px;-moz-border-radius:26px;-ms-border-radius:26px;-o-border-radius:26px;-webkit-border-radius:26px;}
#content .service-tab h2 {margin-bottom:40px;font-weight:400;line-height:1.25em;font-size:30px;}
#content .service-tab ul {margin-left:30px;clear:both;}

#content .service-tab ul li {color:#828282;padding-left:27px;margin-bottom:20px;background:url(../img/service-list-icon.png) no-repeat left center;}
#content .service-tab .learn-more {display:block;padding-right:20px;background:url(../img/service-list-icon.png) no-repeat right center;}

#content {font-size:24px;}
#content .bullet { list-style-image:url('../img/bullet.png');margin-left:30px;}
#content .bullet li {margin-bottom:10px;line-height:1.25em;}
.custom-bg1 {background:url('../img/bg1.jpg') no-repeat left top;background-size:cover;padding-top:140px;padding-bottom:240px;}
.custom-bg2 {background:url('../img/bg2.jpg') no-repeat left top;background-size:cover;padding-top:207px;padding-bottom:60px;}

body #content form label {display:block;font-size:18px;font-weight:100 !important;}
body #content form input {background:#fff;border:1px solid #000;height:26px;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body #content form select {border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body #content form textarea {background:#fff;border:0;height:154px;border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body #content form .submit {background:#ea0000;border:0;font-size:16px;font-weight:700;color:#fff;padding:12px 22px;text-transform:uppercase;}

#footer {background:#3c3c3c;padding:40px 0;color:#fff;font-size:14px;}
#footer a {color:#fff;text-decoration:none;}
#footer h3 {color:#fff;font-size:18px;font-weight:700;margin-bottom:38px;}
#footer ul li {margin-bottom:12px;}


#testimonial .testi-img img {margin-top:20px;width:130px;height:130px;border:2px dashed #000;border-radius:50%;}
#testimonial .bx-wrapper .bx-viewport {background:none;border:0;box-shadow:none;}

#content .padded {padding:60px 0;}
#content ul {margin-left:70px;clear:both;}
#content ul li {line-height:1.25em;padding-left:27px;margin-bottom:20px;background:url(../img/service-list-icon.png) no-repeat left 6px;}
#content .learn-more {display:block;padding-right:20px;background:url(../img/service-list-icon.png) no-repeat right center;}


.col-centered {
    display:block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin:0 auto;
}

body .btn-orange {
    background:#fff;
    color: #F2611F;
    border: 0;
}

body .btn-orange:hover{
    color:#F2611F !important;
}

@media screen and (max-width: 600px) {
    #footer h3 {
        font-size: 22px !important;
    }

    #content h2 {
        line-height: 29px;
    }

    #content h2 strong {
        font-size: 28px !important;
    }

    #main-quote {
        font-size: 32px !important;
    }

    #sub-quote {
        font-size: 26px !important;
        display: block;
    }

    .pricing-head {
        font-size: 32px !important;
    }

    .pricing p{
        text-indent: 0 !important;
    }

    .btn-lg {
        font-size: 24px;
    }

    .head-img {
        display: block;
        margin: 0 auto;
    }

    #main-content {
        padding:  60px 0 15px 15px;
        padding-right: 15px;
    }
}
