/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 /*================CSS Reset==========*/

.hide {
    display: none;
}

body {
	background: #fff;
}

#header {
	background: #fff;
	height: 53px;
    border-bottom: 4px solid #FD9940;
}

#ribbon {
    background: #e5e5e5;
}

#ribbon .breadcrumb, 
#ribbon .breadcrumb a {
    color: #393939!important;
}

#ribbon .breadcrumb li:last-child, 
#ribbon .breadcrumb>.active {
    color: #525252;
}

aside {
	background: #464646;
}

.login-info>span {
    border-bottom: 1px solid #6B6B6B;
}

nav ul .active>a {
    color: #FD9941!important;
}

.manage-fields-expense-type-form fieldset {
	margin-bottom: 12px;
}

.manage-fields-expense-type-form fieldset div {
    margin: 0 12px;
}

form .state-error input{
	background: #fff0f0;
    border-color: #A90329;
}

.field-group .label {
	text-transform: capitalize;
}

.modal form footer {
	background: transparent;
	border-top: 0;
}

body .btn-primary {background:#ff8521 !important;border:1px solid #e27116 !important;}
body .btn-orange { color:#ff8521!important; background:#fff !important;border:1px solid #ff8521 !important;}
body .btn-success {background:#ff8521 !important;border:1px solid #e27116 !important;}
body .btn-white {background:#fff !important;border:1px solid gray !important;color:#000; !important;}

.smart-form .checkbox input:checked+i, .smart-form .radio input:checked+i, .smart-form .toggle input:checked+i {
    border-color: #ff8521;
}
.smart-form .toggle i:before{
    background-color: #ff8521;
}
.smart-form .checkbox:hover i, .smart-form .input:hover input, .smart-form .radio:hover i, .smart-form .select:hover select, .smart-form .textarea:hover textarea, .smart-form .toggle:hover i{
    border-color: #ff8521;
}

.table thead tr {
	background-color: #F9D9AC;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#F9D9AC),to(#F9D9AC));
    background-image: -webkit-linear-gradient(top,#F9D9AC 0,#F9D9AC 100%);
    background-image: -moz-linear-gradient(top,#F9D9AC 0,#F9D9AC 100%);
    background-image: -ms-linear-gradient(top,#F9D9AC 0,#F9D9AC 100%);
    background-image: -o-linear-gradient(top,#F9D9AC 0,#F9D9AC 100%);
    background-image: -linear-gradient(top,#F9D9AC 0,#F9D9AC 100%);
}

.btn {
    border-radius: 6px;
    box-shadow: none !important;
}

.centered {
    float: none !important;
    display: block;
    margin: 0 auto;
}

/*tools icon*/

.icon {
	display: inline-block;
    width: 20px;
    height: 23px;
    text-indent: -9999px;
    vertical-align: top;
    margin-right:5px;
}

.edit-icon {
    background: url('../img/tools-icon/pencil-icon.png') center no-repeat;
    background-size: 100%;
}

.view-icon {
    background: url('../img/tools-icon/view-icon.png') center no-repeat;
    background-size: 100%;
    vertical-align: middle;
}

.folder-icon {
	background: url('../img/tools-icon/folder-icon.png') center no-repeat;
    background-size: 100%;
}

.trash-icon {
	background: url('../img/tools-icon/trash-icon.png') center no-repeat;
    background-size: 100%;
}

.manage-icon {
	background: url('../img/tools-icon/manage-icon.png') center no-repeat;
    background-size: 100%;
}

.paper-icon {
	background: url('../img/tools-icon/paper-icon.png') center no-repeat;
    background-size: 100%;
}

.download-icon {
	background: url('../img/tools-icon/download-icon.png') center no-repeat;
    background-size: 100%;
}

.smart-form .toggle i:before {
    background-color: #FD9940;
}

form label {
    margin-bottom: 5px !important;
}

/*TABS OVERRIDE */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    background : #ff8521 !important;
    -webkit-box-shadow: 0 -2px 0 #e27116 !important;
    color:#fff !important;
}
.nav-tabs>li>a{
    background:#e5e5e5 !important;
}

.clr{
clear:both;
}

.circle-div{
    border-radius: 50%;
    background:transparent;
    border:2px solid gray;
    width:60px;
    height:60px;
    text-align:center;
}

.login-info>span {
    border-bottom: 0 !important;
}

.login-info {
    border-bottom: 0;
    box-shadow: none !important;
}

.user-inner-wrap {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 249px;
}

.user-inner-wrap .col-md-6 {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
    width: 119px;
    text-align: center;
}

.topic-progress {
    display: inline-block;
    height:18px;
    width:80%;
    margin-left: 17px;
    background: #E6E6E6;
    border-radius: 10px;
}

.topic-progress .progress-bar {
    background-color: #fd9941;
    border-radius: 10px 10px 10px 10px;
    color: #464646;
}

.employee-container {
    display: none;
}

.employee-container.active {
    display: block;
}
