/*================CSS Reset==========*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/*===================================*/

body {font-family: 'Open Sans', sans-serif;font-size:18px;color:#424242;font-weight:300;background:#fff;}
h1,h2,h3,h4,h5,h6 {font-weight:400;margin:15px 0;line-height:1.25em;}
h1 {font-size:42px;}
h2 {font-size:36px;}
h3 {font-size:20px;}
h4 {font-size:22px;}
h5 {font-size:18px;}
h5 {font-size:16px;}

p {margin:15px 0;line-height:1.25em;}
b,strong {font-weight:700;}
a {color:#525252;}
i,em {font-style:italic;}
.alignleft {float:left;margin-right:20px;}
.alignright {float:right;margin-left:20px;}
.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.clear {clear:both;}
hr {height:1px;border:0;background:#898989;}
body .btn-default {color:#fff;border:2px solid #ff6600;background:none;}
body .btn-default:hover {background:#ff6600;color:#fff;border:2px solid #ff6600;}
body .btn-primary {color:#fff;border:0;background:#4bacaf;}
body .btn-primary:hover {background:#4bacaf;}
body .btn-md {padding:10px 30px;font-size:26px;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;}
body .btn-lg {padding:20px 98px;font-size:36px;border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;-webkit-border-radius:10px;}
.padded {padding-top:40px;padding-bottom:40px;}
.text-white {color:#fff !important;}

#header {width:100%;max-height:79px;background:#fff;position:fixed;top:0;z-index:20;padding-top:15px;padding-bottom:15px;}
.floating-header {display:none;}

#header-transparent {width:100%;max-height:79px;z-index:20;padding-top:15px;padding-bottom:15px;}
#header-transparent #menu ul li a {color:#fff;}

#menu ul {text-align:right;}
#menu ul li {display:inline-block;margin-left:30px;}
#menu ul li a {font-size:16px;color:#424242;display:block;text-decoration:none;padding:14px 0;}

.mobile-menu-trigger { width: 40px;height: 40px;padding: 25px 0;display: block;background: url(images/mobile-toggle-icon.png) center center no-repeat;cursor: pointer; }
.mm-menu > .mm-panel { padding: 0 !important; }
#mobile-menu ul { padding: 0;margin: 0; }
#mobile-menu ul > li a:hover,
#mobile-menu ul > li.mm-selected a { background: rgba(255, 255, 255, 0.6);color: #eb1f1c; }
#mobile-menu ul > li:after { margin: 0; }

#content {font-size:24px;}
#content .bullet { list-style-image:url(images/bullet.png);margin-left:30px;}
#content .bullet li {margin-bottom:6px;line-height:1.25em;}
#content .text-white .check-mark { list-style-image:url(images/check-mark2.png);margin-left:30px;}
#content .check-mark { list-style-image:url(images/check-mark.png);margin-left:30px;}
#content .check-mark li {margin-bottom:6px;line-height:1.25em;}
.custom-bg1 {background:url(images/ZenintraBannerHome.jpg) no-repeat center top;background-size:cover;padding-top:140px;padding-bottom:240px;}
.custom-bg2 {background:url(images/bg2.jpg) no-repeat center top;background-size:cover;padding-top:110px;padding-bottom:110px;}
.custom-bg3 {background:url(images/bg3.jpg) no-repeat center top;background-size:cover;padding-top:70px;padding-bottom:70px;}

body form label {display:block;font-size:18px;font-weight:100 !important;}
body form input {font-size:18px;background:none;border:1px solid #fff;height:30px;padding-left:14px;padding-right:14px;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form select {border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form textarea {background:#fff;border:0;height:154px;border:1px solid #000;border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;}
body form .submit {background:#46acb0;border:1px solid #46acb0;font-size:18px;height:30px;padding-left:14px;padding-right:14px;}

#footer {color:#fff;font-size:14px;}
#footer a {color:#fff;text-decoration:none;}
#footer h3 {color:#fff;font-size:18px;margin-bottom:20px;}
#footer ul li {margin-bottom:12px;}

.col-centered {
    display:block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin:0 auto;
}

@media (min-width: 1200px) {
	.container {width:1200px;padding-left:0;padding-right:0;}
	.container1300 {width:1300px;}
}

@media (max-width: 360px) {
}

@media (max-width: 992px) {
}


@media (min-width: 992px) { 

}


@media (max-width: 768px) {

    body .btn-lg{
        padding: 10px 16px !important;
    }

}

